<div style="position: absolute;z-index: 99;width: 100%;height: 100vw;bottom: 0;" [hidden]="!isLoading">
    <div style="position: absolute;width: 100%;height: 100%;background-color: black;opacity: 0.5;">
    </div>
    <div class="col"
        style="position: absolute;top: 60%;left: 0;width: 100%;font-size: 30px;color: navajowhite;text-align: center;">
        <div class="spinner-border" role="status" style="vertical-align: middle;"> </div>
        <span>&nbsp;Loading{{Point}}</span>
    </div>
</div>