<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="row">
      <h1>Características principales</h1>
      <span> <mat-icon>person</mat-icon> 11 personas </span>
      <span> <mat-icon>door_front</mat-icon> 4 habitaciones </span>
      <span> <mat-icon>bed</mat-icon> 9 camas </span>
      <span> <mat-icon>bathtub</mat-icon> 3 baños </span>
    </div>
    <div class="row">
      <h2>El alojamiento</h2>
      Número de Inscripción en el Registro de Turismo de Cataluña : HUTTE –
      000917 La casa que usted soñó para sus vacaciones tranquilas, deje que le
      despierte la salida del sol en el mar y el sonido de las olas. LA CASA
      EXTERIOR La casa tiene una enorme terra...
    </div>
    <div class="row">
      <h2>El entorno</h2>
      La casa que usted soñó para sus vacaciones tranquilas, deje que le
      despierte la salida del sol en el mar y el sonido de las olas. Situada en
      la tranquila urbanización de CAP ROIG . Junto a dos preciosas calas y a
      200 mts. de la Playa de Cap Roig, una bonita...
    </div>
    <div class="row">
      <h2>Actividades y atracciones</h2>
      Alquilar una casa en L’Ampolla, le permitirá visitar también El Parque
      Natural del Delta del Ebre, Tarragona, Tortosa, Port Aventura a Salou,
      Barcelona à 160 kms (1h.30 ' por autopista). L’Ampolla bonito pueblo
      pesquero con unas playas maravillosa...
    </div>
    <div class="row">
      <h1>Características de la villa</h1>
      <span> <mat-icon>beach_access</mat-icon> Primera línea de playa </span>
      <span> <mat-icon>golf_course</mat-icon> Golf </span>
      <span> <mat-icon>yard</mat-icon> Jardín </span>
      <span> <mat-icon>pool</mat-icon> Piscina </span>
      <span> <mat-icon>outdoor_grill</mat-icon> Barbacoa </span>
      <span> <mat-icon>balcony</mat-icon> Terraza </span>
      <span> <mat-icon>deck</mat-icon> Muebles de jardín </span>
      <span> <mat-icon>garage_home</mat-icon> Aparcamiento </span>
      <span> <mat-icon>pool</mat-icon> Piscina privada </span>
      <span> <mat-icon>yard</mat-icon> Jardín individual </span>
      <span> <mat-icon>image_search</mat-icon> Vistas al mar </span>
      <span> <mat-icon>fireplace</mat-icon> Chimenea </span>
    </div>
  </div>
</div>